image: opencloud-eu/opencloud-rolling:latest
manifests:
  - image: opencloud-eu/opencloud-rolling:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-amd64
    platform:
      architecture: amd64
      os: linux
  - image: opencloud-eu/opencloud-rolling:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}linux-arm64
    platform:
      architecture: arm64
      variant: v8
      os: linux
